@media (max-width:320px)  {
  body {
    /*background-color: violet;*/
  }
}

/*@media (min-width:1025px) {*/
  html, body {
    margin: 0;
    height: 100%;
    background-color: white;
    background: url('assets/stars.jpg') no-repeat fixed top;
    background-size: cover;
    /*max-width: 100%;*/
  }

  .upperDiv {
    color: white;
    background: url('assets/stars.jpg') no-repeat fixed top;
    background-size: cover;
    height: 70%;
  }

  .lowerDiv {
    /*margin: 0 auto;*/
    text-align: center;


  }

  .page_title {
    text-align: center;
    padding-top: 30px;
  }

  .parent_asteroid {
    /*position: relative;*/
    width: 100%;
    /*display: flex;*/
    /*justify-content: space-between;*/
  }

  .asteroid {
    height: 40px;
    width: 40px;
    background: yellow;
    margin: 0 40px;
    /*margin: 5px;*/
    border-radius: 50px;

    position: absolute;
    /*position: relative;*/
    font-size: 40px;
    text-align: center;
  }

  #spaceShip {
    height: 140px;
    width: 107px;


    position: absolute;
    bottom: 0;
    left: 45%;
    border: 3px solid white;
  }

  #spaceShipBody {
    width: 100px;
    height: 100px;
    /*background: violet;*/
    border: 5px dotted white;
    border-radius: 99em;

    position: absolute;;
    bottom: 0;
  }

  #gun {
    height: 40px;
    width: 20px;
    background-color: yellow;

    position: absolute;
    top: 0;
    left: 45%;
    z-index: 1;
    /*margin: 0 auto;*/
  }

  .bullet {
    height: 20px;
    width: 10px;
    background-color: red;

    position: absolute;
    margin: 0 auto;
    z-index: 1;
  }

  div p {
    display: inline;
    font-size: 30px;
    margin: 20px;
  }

  .left {
    float: left
  }

  .right {
    float: right;
  }

  div h2 {
    text-align: left;
    padding-left: 20px;
  }

  .flex-parent {
    margin: 0 auto;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-center;
  }

  form {
    /*display: flex;*/
  }

  input {
    margin-left: 40px;
  }

  /*@media (min-width:801px)  {
    .asteroid {
      width: 20%;
    }
  }*/

  .upperDiv h1 {
    font-size: 300%;
  }

  .first_name + input {
    margin: 0 auto;
  }

  aside {
    color: white;
    position: absolute;
    top: 400px;
    left: 1000px;
  }






















/**/
