body {
  background: lightblue;

}

.page_title {
  text-align: center;
}

#spaceShip {
  width: 100px;
  height: 100px;
  background: violet;
  border: 5px dotted white;
  border-radius: 99em;

  position: absolute;
  bottom: 0;
  left: 45%;

  /*margin: 0 auto;*/
}

.asteroid {
  height: 40px;
  width: 40px;
  background: yellow;
  margin: 5px;
  border-radius: 50px;
  position: absolute;
}
