html {
  min-height: 100%;
  background: black;
}

body {
  height: 100%;
  /*width: 800px;*/
  background: lightblue;
}

.page_title {
  text-align: center;
}

#spaceShip {
  height: 140px;

  position: absolute;
  bottom: 0;
  left: 45%;
}

#spaceShipBody {
  width: 100px;
  height: 100px;
  background: violet;
  border: 5px dotted white;
  border-radius: 99em;

  position: absolute;;
  bottom: 0;
}

#gun {
  height: 40px;
  width: 10px;
  background-color: yellow;

  position: absolute;
  top: 0;
  left: 45%;
  z-index: 1;
  /*margin: 0 auto;*/
}

.asteroid {
  height: 40px;
  width: 40px;
  background: yellow;
  margin: 5px;
  border-radius: 50px;
  position: absolute;
}
